*.tfvars
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# ignore any genereated cert data
*.crt
*.key
*.pem
*.csr

# ignore generated openapi files
openapi.yaml

bin/

# ignore specific generated client code
client/api/
client/.gitignore
client/.travis.yml
client/git_push.sh
